<form asp-action="AddDeal" method="post">
    <label for="id_uzytkownika">Id użytkownika: </label>
    <input type="number" name="id_uzytkownika" id="id_uzytkownika" class="form-control" required/>
    <br>
    <label for="id_oferty">Id oferty:</label>
    <input type="number" name="id_oferty" id="id_oferty" class="form-control" required/>
    <br>
    <label for="id_adresu">Id adresu: </label>
    <input type="number" name="id_adresu" id="id_adresu" class="form-control" required/>
    <br>
    <label for="data_zawarcia">Data zawarcia umowy(RRRR-MM-DD): </label>
    <input name="data_zawarcia" id="data_zawarcia" class="form-control" pattern="\d{4}-\d{2}-\d{2}" title="Format: RRRR-MM-DD" required/>
    <br>
    <input type="submit" value="Zatwierdź" class="btn btn-primary" />
</form>