<form asp-action="AddOffer" method="post">
    <label for="nazwa">nazwa Oferty: </label>
    <input name="nazwa" id="nazwa" class="form-control" required />
    <br>
    <label for="opis">Opis: </label>
    <input name="opis" id="opis" class="form-control" required />
    <br>
    <label for="cena">Cena(w groszach): </label>
    <input type="number" name="cena" id="cena" class="form-control" required/>
    <br>
    <input type="submit" value="Zatwierdź" class="btn btn-primary" />
</form>