<form asp-action="EndDeal" method="post">
    <label for="id_umowy">Id umowy do zakończenia: </label>
    <input type="number" name="id_umowy" id="id_umowy" class="form-control" required/>
    <br>
    <input type="submit" value="Zatwierdź" class="btn btn-primary" />
</form>