<a asp-controller="Admin" asp-action="AddUser" class="btn btn-info">Dodaj użytkownika</a>
<a asp-controller="Admin" asp-action="AddOffer" class="btn btn-info">Dodaj ofertę</a>
<a asp-controller="Admin" asp-action="AddAddress" class="btn btn-info">Dodaj adres</a>
<a asp-controller="Admin" asp-action="AddDeal" class="btn btn-info">Dodaj umowę</a>
<br><br>
<a asp-controller="Admin" asp-action="ShowUsers" class="btn btn-info">Wypisz użytkowników</a>
<a asp-controller="Admin" asp-action="ShowOffers" class="btn btn-info">Wypisz oferty</a>
<a asp-controller="Admin" asp-action="ShowAddresses" class="btn btn-info">Wypisz adresy</a>
<a asp-controller="Admin" asp-action="ShowDeals" class="btn btn-info">Wypisz umowy</a>
<a asp-controller="Admin" asp-action="ShowPayments" class="btn btn-info">Wypisz płatności</a>
<br><br>

<a asp-controller="Admin" asp-action="ShowUsersInDebt" class="btn btn-info">Ranking dłużników</a>
<a asp-controller="Admin" asp-action="EndDeal" class="btn btn-info">Zakończ umowę</a>
