<strong>@ViewData["login_status"]</strong>

<form asp-action="LogIn" method="post">
    <br>
    <label for="login"> Wpisz login: </label>
    <input name="login" id="login" class="form-control" />
    <br>
    <label for="haslo"> Wpisz hasło: </label>
    <input name="haslo" id="haslo" class="form-control" />
    <br>
    <input type="submit" value="Zatwierdź" class="btn btn-primary" />
</form>