<form asp-action="ChangeUserData" method="post">
    <label for="imie">Imię: </label>
    <input name="imie" id="imie" class="form-control" />
    <br>
    <label for="nazwisko">Nazwisko: </label>
    <input name="nazwisko" id="nazwisko" class="form-control" />
    <br>
    <label for="nr_tel">Numer telefonu: </label>
    <input name="nr_tel" id="nr_tel" class="form-control" />
    <br>
    <label for="email">Email: </label>
    <input name="email" id="email" class="form-control" />
    <br>
    <input type="submit" value="Zatwierdź" class="btn btn-primary" />
</form>