<a asp-controller="User" asp-action="ShowUserDeals" class="btn btn-info">Zobacz historię umów</a>
<a asp-controller="User" asp-action="ShowUserPayments" class="btn btn-info">Zobacz historię płatności</a>
<a asp-controller="User" asp-action="ShowUserDebts" class="btn btn-info">Zobacz zadłużenie</a>
<a asp-controller="User" asp-action="ShowOffers" class="btn btn-info">Zobacz oferty</a>
<a asp-controller="User" asp-action="AddDeal" class="btn btn-info">Podpisz umowę</a>
@* <a asp-controller="Admin" asp-action="AddAddress" class="btn btn-info">Dodaj adres</a>
<a asp-controller="Admin" asp-action="AddDeal" class="btn btn-info">Dodaj umowę</a> *@
