<a asp-controller="User" asp-action="ShowUserDeals" class="btn btn-info">Zobacz historię płatności</a>
<a asp-controller="User" asp-action="ShowUserDebts" class="btn btn-info">Zobacz stan płatności</a>
@* <a asp-controller="Admin" asp-action="AddAddress" class="btn btn-info">Dodaj adres</a>
<a asp-controller="Admin" asp-action="AddDeal" class="btn btn-info">Dodaj umowę</a> *@
