<form asp-action="WpiszDane" method="post">
    <label for="pesel">Pesel :</label>
    <input name="pesel" id="pesel" class="form-control" />
    <br>
    <label for="imie">Imie :</label>
    <input name="imie" id="imie" class="form-control" />
    <br>
    <label for="nazwisko">Nazwisko :</label>
    <input name="nazwisko" id="nazwisko" class="form-control" />
    <br>
    <input type="submit" value="Zatwierdź" class="btn btn-primary" />
</form>