@{
    ViewData["Title"] = "Secret Data";
}
<h1 style="color: red;"> TOP SECRET </h1>

<p>Bigos przygotowuje się w kilku etapach. Na początku kapustę kiszoną odciśnij z nadmiaru soku i posiekaj, a świeżą kapustę pokrój w cienkie paski. Obie kapusty wymieszaj w dużym garnku. Następnie mięso wieprzowe pokrój w kostkę, kiełbasę w plastry, a boczek w kostkę. Na dużej patelni rozgrzej olej lub smalec i podsmaż mięso, aż się zrumieni. Dodaj boczek i kiełbasę, smaż jeszcze chwilę. Do garnka z kapustą dodaj usmażone mięso, boczek, kiełbasę oraz przyprawy, takie jak liście laurowe, ziele angielskie, majeranek, sól i pieprz. Wlej czerwone wino (jeśli używasz) oraz bulion, a całość dokładnie wymieszaj. Gotuj bigos na małym ogniu przez kilka godzin, mieszając od czasu do czasu. Bigos zyskuje na smaku, jeśli gotujesz go przez kilka dni, odgrzewając codziennie. Smacznego!</p>


